__pycache__
outputs
debug.py
lightning_logs
debug.sh
debug*.*
debug
word.txt

egs/*/*/data
egs/*/*/exp*
egs/*/*/wandb
egs/*/*/any_run.sh
egs/*/*/fbank
egs/*/*/sbatch.*
egs/*/*/*.sbatch
egs/*/*/wandb
egs/*/*/conf/debug.yaml

tools/kaldi
