__pycache__
outputs
debug.py
lightning_logs
debug.sh
debug*.*
debug
word.txt

egs/*/*/data
egs/*/*/db
egs/*/*/exp*
egs/*/*/wandb
egs/*/*/any_run.sh
egs/*/*/fbank
egs/*/*/cmvn
egs/*/*/sbatch.*
egs/*/*/*.sbatch
egs/*/*/wandb
egs/*/*/.hydra
egs/*/*/conf/debug.yaml
egs/yesno/asr/waves_yesno*

tools/kaldi
